<a href="https://colab.research.google.com/github/sh-shrey/ML/blob/main/bayes_theoram.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
import pandas as pd
df= pd.read_csv('/content/gdrive/MyDrive/final_analysis.csv')

In [ ]:
import pandas as pd
df.head()

   gender  N1  N2  ...  tiredness  sleep_hour  Mood_prediction
0       1   1   5  ...          0           0                1
1       2   2   3  ...          0           0                0
2       2   5   1  ...          1           1                0
3       2   5   4  ...          1           1                0
4       2   3   3  ...          0           0                0

[5 rows x 14 columns]

In [ ]:
from matplotlib import pyplot as plt
%matplotlib inline
import numpy as np
#define dependent variable
Y= df['Mood_prediction'].values
Y=Y.astype('int')
#define independent variables
X= df.drop(labels=['Mood_prediction'],axis=1)

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X,Y,test_size=0.2)

In [ ]:
len(X_train)

15775

In [ ]:
len(X_test)

3944

In [ ]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()

In [ ]:
model.fit(X_train,Y_train)
model.score(X_test,Y_test)

0.8047667342799188

In [ ]:
model.predict(X_test[:10])

array([0, 0, 1, 0, 0, 0, 0, 1, 1, 1])

In [ ]:
model.predict_proba(X_test[:10])

array([[1.00000000e+00, 0.00000000e+00],
       [1.00000000e+00, 0.00000000e+00],
       [3.24126280e-13, 1.00000000e+00],
       [1.00000000e+00, 0.00000000e+00],
       [1.00000000e+00, 0.00000000e+00],
       [1.00000000e+00, 0.00000000e+00],
       [1.00000000e+00, 0.00000000e+00],
       [8.49728101e-18, 1.00000000e+00],
       [2.12104486e-18, 1.00000000e+00],
       [1.68701160e-16, 1.00000000e+00]])

In [ ]:
!ls -la

total 20
drwxr-xr-x 1 root root 4096 Jan  4 05:02 .
drwxr-xr-x 1 root root 4096 Jan  4 04:58 ..
drwxr-xr-x 1 root root 4096 Dec 21 17:29 .config
drwx------ 5 root root 4096 Jan  4 05:02 gdrive
drwxr-xr-x 1 root root 4096 Dec 21 17:29 sample_data

In [ ]:
!pip install pyyaml h5py

Requirement already satisfied: pyyaml in /usr/local/lib/python3.6/dist-packages (3.13)
Requirement already satisfied: h5py in /usr/local/lib/python3.6/dist-packages (2.10.0)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from h5py) (1.15.0)
Requirement already satisfied: numpy>=1.7 in /usr/local/lib/python3.6/dist-packages (from h5py) (1.19.4)